.tickers-table{
    padding-bottom:50px;
}

.tickers-table-row {
    min-width:100%;
    padding:20px;
}

input[type="radio"] {
    cursor: pointer;
}

.tickers-table-tr {
    background:white;
}

.tickers-table-body .table>thead>tr>th{
    border:0px !important;
}

.tickers-table-body {
    border-radius: 0px 5px 5px 5px;
}

.tickers-tab{
    /* border-bottom: 1px solid gray;*/
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding:4px !important;
    padding-left:8px !important;
}

.tickers-table-tr-header {
    background:white;
    text-align: center;
    font-size:14px;
    padding:3px;
}

.loading{
    text-align: center;
}

.nav-tabs {
    border-bottom: 0px !important;
}